$colors: (
  primary: #ffffff,
  accent: #549fc2,
  bg: #1d2027
);
@function color($color-name){
  @return map-get($colors, $color-name)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-weight: 700;
  background: color(bg);
  // position: fixed;
  line-height: 1.4;
}

body::-webkit-scrollbar {
  display: none;
} 

.container { 
  margin: 40px;
  padding: 30px;
  height: 100%;
  border-style: solid;
  border-width: 8px;
  border-radius: 40px;
  color: color(accent); 
}

.canvas {
  width: 100%;
  height: 90.5vh;
}

.nav {
  // position: relative;
  overflow: hidden;
  background-color: color(bg);
  padding: 14px 16px;


  .nav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-right {
    float: right;

  }

  .nav-link{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-weight: lighter;
    font-size: 17px;

    a {
      color: color(primary);
      text-decoration: none;
    }

  }

  .nav-link:hover {
    a {
      color: color(accent);
    }
  }

  .logo {
    float: left;
    display: block;
    color: color(primary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 3px;
  }

  .btn {
    background-color: color(primary);
    color: color(bg);
    border: none;
    border-radius: 40px;
    padding: 16px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: 900;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: color(accent);
    color: color(primary);
  }

}

.neo-data {
  width: max-content;
  position: relative;
  color: white;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.neo-data:hover {
  opacity:1;
}

.neo-data-name {
  cursor:pointer;
}

.neo-data-expand {
  color: rgb(202, 12, 12);
  transition-duration: 0.3s;
  max-height:0;
  overflow:hidden;
  position:absolute;
  background: rgba(0,0,0,0.7);
  padding-left:10px;
  padding-right:10px;
  left: -200px;
  width: 400px;
  transform: translateY(-50%);

  &.isActive {
    max-height: 20em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.neo-data-close {
  position:absolute;
  color:#ffffff;
  top:0;
  right:0;
  cursor:pointer;
}
