$colors: (
  primary: #ffffff,
  accent: #549fc2,
  bg: #232835,
  nav: #1d2027,
  nav-element: #1d2027e8,
);
@function color($color-name){
  @return map-get($colors, $color-name)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-weight: 700;
  background: color(bg);
  // position: fixed;
  line-height: 1.4;
}

body::-webkit-scrollbar {
  display: none;
} 

.canvas {
  width: 100%;
  height: 90.5vh;
}

.nav {
  // position: relative;
  overflow: hidden;
  background-color: color(nav);
  padding: 14px 16px;

  .nav-centered {
    float: none;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-right {
    float: right;
  }

  .nav-link{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-weight: lighter;
    font-size: 17px;

    a {
      color: color(primary);
      text-decoration: none;
    }

  }

  .nav-link:hover {
    a {
      color: color(accent);
    }
  }

  .logo {
    float: left;
    display: block;
    color: color(primary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 3px;

    a {
      color: color(primary);
      text-decoration: none;
    }
  }

  .logo:hover {
    a {
      color: color(accent);
    }
  }

  .btn {
    background-color: color(primary);
    color: color(bg);
    border: none;
    border-radius: 40px;
    padding: 16px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: 900;
    margin: 4px 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: color(accent);
    color: color(primary);
  }

}

.neo-data {
  width: max-content;
  position: relative;
  transform: translate(-50%, -50%);
  opacity: 0.85;
  background: color(nav-element);
  padding: 3px;
  border-radius: 5px;
}

.neo-data:hover {
  opacity:1;
}

.neo-data-name {
  cursor:pointer;
  font-size: 18px;
  font-weight: bold;
}

.neo-data-expand {
  color: color(primary);
  transition-duration: 0.3s;
  max-height:0;
  overflow:hidden;
  position:absolute;
  background: color(nav-element);
  padding-left:10px;
  padding-right:10px;
  left: -200px;
  width: 400px;
  border-radius: 10px;
  transform: translateY(-50%);

  .neo-title {
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    color: color(primary);
  }

  .neo-info {
    padding: 5px;
    text-align: left;
  }

  .neo-info-alertH {
    padding: 5px;
    text-align: center;
    color: #ff3d33;
  }

  .neo-info-alertS {
    padding: 5px;
    text-align: center;
    color: #38c7ff;
  }

  a {
    color: color(accent);
    text-decoration: none;
  }

  a:hover {
    color: color(primary);
  }


  &.isActive {
    max-height: 20em;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.neo-data-close {
  position:absolute;
  color:#ffffff;
  top:0;
  right:0;
  padding: 3px 7px;
  cursor:pointer;
}

.about, .how-to {
  width: 100vw;
  height: 90vh;
  padding: 60px 10vw 60px 10vw;
  position: relative;
  overflow: hidden;

  .container { 
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 5px; 
    background: color(nav);
  }

  .title {
    text-align: center;
    padding: 14px 16px;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 3px;
    color: color(primary);
  }

  .small-title {
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3px;
    color: color(primary);
  }

  .text {
    text-align: left;
    padding: 14px 16px;
    font-weight: lighter;
    font-size: 17px;
    color: color(primary);

    strong {
      color: color(accent);
    }
  }

  .links {
    text-align: center;
    padding: 14px 16px;
    font-weight: lighter;
    font-size: 17px;
    color: color(primary);
  }

  a {
    color: color(primary);
    text-decoration: none;
  }

  a:hover {
    color: color(accent);
  }
  
}
